

body{
    
    font-family: "Century Gothic";
    font-size: 35px;
    font-size: bold;
    color: green;
    
    background: url("img/project.jpg");
    
    
    margin-top: 200px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 400px;
    background-color: lightblue;
}

h1{
    color: white;
    font-size: 42px;
 
}

form{
    font-family: "Century Gothic";
    font-size: 14px;
    font-size: bold;
    color: yellowgreen;
}